<?xml version="1.0"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd"
>
    <default>
        <siteation_storeinfo_payment>
            <payment>
                <payment_filter_options>
                    {
                        "AliPay": "alipay",
                        "Amazon Pay": "amazonpay",
                        "American Express": "amex",
                        "Apple Pay": "applepay",
                        "Bancontact": "bancontact",
                        "Belfius": "belfius",
                        "Biller": "biller",
                        "Billie": "billie",
                        "Cash on Delivery": "cash-on-delivery",
                        "Creditcard": "creditcard",
                        "Eps": "eps",
                        "Giftcard": "giftcard",
                        "Giropay": "giropay",
                        "Google Pay": "googlepay",
                        "iDeal": "ideal",
                        "IN3": "in3",
                        "KBC": "kbc",
                        "Klarna": "klarna",
                        "Maestro": "maestro",
                        "Mastercard": "mastercard",
                        "MB Way/Multibanco": "multibanco",
                        "MyBank": "mybank",
                        "Payconiq": "payconiq",
                        "PayPal": "paypal",
                        "PaySafe Card": "paysafecard",
                        "Przelewy 24": "przelewy24",
                        "Riverty": "riverty",
                        "Sepa": "sepa",
                        "Sofort": "sofort",
                        "Stripe": "stripe",
                        "Trustly": "trustly",
                        "Visa": "visa",
                        "WeChatPay": "wechatpay"
                    }
                </payment_filter_options>
                <payment_options_show>alipay,amazonpay,amex,applepay,bancontact,belfius,biller,billie,cash-on-delivery,creditcard,eps,giftcard,giropay,googlepay,ideal,in3,kbc,klarna,maestro,mastercard,multibanco,mybank,payconiq,paypal,paysafecard,przelewy24,riverty,sepa,sofort,stripe,trustly,visa,wechatpay</payment_options_show>
                <payment_options_bundle_credit_methods>1</payment_options_bundle_credit_methods>
                <payment_options_display_ideal_wero>1</payment_options_display_ideal_wero>
            </payment>
            <payment_locations>
                <show_before_footer>1</show_before_footer>
                <show_in_footer>0</show_in_footer>
                <show_in_minicart>1</show_in_minicart>
            </payment_locations>
        </siteation_storeinfo_payment>
    </default>
</config>
