<?xml version="1.0"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd"
>
    <default>
        <siteation_payment>
            <payment>
                <payment_filter_options>
                    {
                        "Riverty": "riverty",
                        "Apple Pay": "applepay",
                        "Bancontact": "bancontact",
                        "Bank Transfer": "banktransfer",
                        "Belfius": "belfius",
                        "Creditcard": "creditcard",
                        "Sepa": "sepa",
                        "Eps": "eps",
                        "Giftcard": "giftcard",
                        "Giropay": "giropay",
                        "Google Pay": "googlepay",
                        "iDeal": "ideal",
                        "CBC": "cbc",
                        "IN3": "in3",
                        "Klarna": "klarna",
                        "MyBank": "mybank",
                        "PayPal": "paypal",
                        "Paysafe Card": "paysafecard",
                        "Przelewy 24": "przelewy24",
                        "Sofort": "sofort"
                    }
                </payment_filter_options>
                <payment_options_show>riverty,applepay,bancontact,banktransfer,belfius,creditcard,sepa,eps,giftcard,giropay,googlepay,ideal,cbc,in3,klarna,mybank,paypal,paysafecard,przelewy24,sofort</payment_options_show>
            </payment>
        </siteation_payment>
    </default>
</config>
