<?xml version="1.0"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd"
>
    <default>
        <siteation_storeinfo_payment>
            <payment>
                <payment_filter_options>
                    {
                        "AliPay": "alipay",
                        "Amazon Pay": "amazonpay",
                        "Apple Pay": "applepay",
                        "Bancontact": "bancontact",
                        "Bank Transfer": "banktransfer",
                        "Belfius": "belfius",
                        "Biller": "biller",
                        "Creditcard": "creditcard",
                        "Eps": "eps",
                        "Giftcard": "giftcard",
                        "Giropay": "giropay",
                        "Google Pay": "googlepay",
                        "iDeal": "ideal",
                        "IN3": "in3",
                        "KBC": "kbc",
                        "Klarna": "klarna",
                        "MyBank": "mybank",
                        "PayPal": "paypal",
                        "PaySafe Card": "paysafecard",
                        "Przelewy 24": "przelewy24",
                        "Riverty": "riverty",
                        "Sepa": "sepa",
                        "Sofort": "sofort"
                    }
                </payment_filter_options>
                <payment_options_show>alipay,amazonpay,applepay,bancontact,banktransfer,belfius,biller,creditcard,eps,giftcard,giropay,googlepay,ideal,in3,kbc,klarna,mybank,paypal,paysafecard,przelewy24,riverty,sepa,sofort</payment_options_show>
            </payment>
        </siteation_storeinfo_payment>
    </default>
</config>
