<?xml version="1.0"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd"
>
    <system>
        <section
            id="siteation_payment"
            translate="label"
            type="text"
            sortOrder="401"
            showInDefault="1"
            showInWebsite="1"
            showInStore="1"
        >
            <label>Payment Logos</label>
            <tab>sales</tab>
            <resource>Magento_Config::payment</resource>
            <group
                id="payment"
                translate="label"
                type="text"
                sortOrder="1"
                showInDefault="1"
                showInWebsite="1"
                showInStore="1"
            >
                <label>Payment Logos</label>
                <field
                    id="payment_options_show"
                    translate="label"
                    type="multiselect"
                    sortOrder="1"
                    showInDefault="1"
                    showInWebsite="1"
                    showInStore="1"
                    canRestore="1"
                >
                    <label>Payment Logos to show</label>
                    <source_model>Siteation\StoreInfoPaymentLogos\Model\Config\PaymentOptions</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
