<?xml version="1.0"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd"
>
    <system>
        <tab id="siteation" sortOrder="999" translate="label">
            <label>Siteation</label>
        </tab>

        <section
            id="siteation_storeinfo_payment"
            translate="label"
            type="text"
            sortOrder="401"
            showInDefault="1"
            showInWebsite="1"
            showInStore="1"
        >
            <label>Payment Methods</label>
            <tab>siteation</tab>
            <resource>Magento_Config::payment</resource>
            <group
                id="payment"
                translate="label"
                type="text"
                sortOrder="1"
                showInDefault="1"
                showInWebsite="1"
                showInStore="1"
            >
                <label>Payment Methods</label>
                <field
                    id="icon_style"
                    translate="label"
                    type="select"
                    sortOrder="10"
                    showInDefault="1"
                    showInWebsite="1"
                    showInStore="1"
                    canRestore="1"
                >
                    <label>Payment Method Style</label>
                    <source_model>Siteation\StoreInfoPayments\Model\Config\IconStyle</source_model>
                </field>
                <field
                    id="payment_options_show"
                    translate="label"
                    type="multiselect"
                    sortOrder="20"
                    showInDefault="1"
                    showInWebsite="1"
                    showInStore="1"
                    canRestore="1"
                >
                    <label>Payment Methods to show</label>
                    <source_model>Siteation\StoreInfoPayments\Model\Config\PaymentOptions</source_model>
                </field>
                <field
                    id="payment_options_bundle_credit_methods"
                    translate="label"
                    type="select"
                    sortOrder="30"
                    showInDefault="1"
                    showInWebsite="1"
                    showInStore="1"
                    canRestore="1"
                >
                    <label>Bundle Creditcard Methods</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field
                    id="payment_options_display_ideal_wero"
                    translate="label"
                    type="select"
                    sortOrder="40"
                    showInDefault="1"
                    showInWebsite="1"
                    showInStore="1"
                    canRestore="1"
                >
                    <label>Show iDeal Logo as iDeal Wero</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group
                id="payment_locations"
                translate="label"
                type="text"
                sortOrder="1"
                showInDefault="1"
                showInWebsite="1"
                showInStore="1"
            >
                <label>Payment Locations</label>
                <field id="show_before_footer" translate="label" type="select" sortOrder="10" showInDefault="1"
                    showInWebsite="1"
                    showInStore="1" canRestore="1">
                    <label>Show Before Footer</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="show_in_footer" translate="label" type="select" sortOrder="20" showInDefault="1"
                    showInWebsite="1"
                    showInStore="1" canRestore="1">
                    <label>Show In Footer</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="show_in_minicart" translate="label" type="select" sortOrder="30" showInDefault="1"
                    showInWebsite="1"
                    showInStore="1" canRestore="1">
                    <label>Show In Minicart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
